#!/sbin/openrc-run

name="trivy-exporter"
description="Trivy Vulnerability Exporter"
command="/opt/trivy-exporter/trivy-exporter"
command_background=true
pidfile="/run/${name}.pid"
directory="/opt/trivy-exporter"
logfile="/var/log/trivy-exporter.log"

depend() {
    need net
    after firewall
}

start_pre() {
    checkpath -f -m 644 -o ${USER}:${USER} ${logfile}
    checkpath -d -m 755 -o ${USER}:${USER} ${directory}
}