[Unit]
Description=Trivy Vulnerability Exporter
After=network.target

[Service]
ExecStart=/opt/trivy-exporter/trivy-exporter
WorkingDirectory=/opt/trivy-exporter
User=ernix
Restart=always
StandardOutput=append:/var/log/trivy-exporter.log
StandardError=append:/var/log/trivy-exporter.log

[Install]
WantedBy=multi-user.target