[Unit]
Description=Trivy Vulnerability Exporter
After=network.target

[Service]
ExecStart=/opt/trivy-exporter/trivy-exporter
WorkingDirectory=/opt/trivy-exporter
User=root
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target